{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">

          <ul class="nav nav-tabs">
            <li class="active"><a href="#tab-general" data-toggle="tab">{{ tab_general }}</a></li>
            <li><a href="#tab-products" data-toggle="tab">{{ tab_products }}</a></li>
            <li><a href="#tab-categories" data-toggle="tab">{{ tab_categories }}</a></li>
            <li><a href="#tab-manufacturers" data-toggle="tab">{{ tab_manufacturers }}</a></li>
            <li><a href="#tab-informations" data-toggle="tab">{{ tab_informations }}</a></li>
            <li><a href="#tab-support" data-toggle="tab">{{ tab_help_and_support }}</a></li>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="tab-general">

							<div class="form-group">
								<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
								<div class="col-sm-10">
									<select name="module_ps_live_search_status" id="input-status" class="form-control">
										{% if module_ps_live_search_status %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

							<div class="form-group required">
                <label for="input-input-delay" class="col-sm-2 control-label">{{ entry_input_delay }}</label>
                <div class="col-sm-10">
                  <input type="text" name="module_ps_live_search_input_delay" value="{{ module_ps_live_search_input_delay }}" placeholder="{{ entry_input_delay }}" id="input-input-delay" class="form-control">
									{% if error_input_delay %}<div class="text-danger">{{ error_input_delay }}</div>{% endif %}
									<div class="help-block text-muted">{{ help_input_delay }}</div>
                </div>
              </div>

							<div class="form-group required">
                <label for="input-input-min-chars" class="col-sm-2 control-label">{{ entry_input_min_chars }}</label>
                <div class="col-sm-10">
                  <input type="text" name="module_ps_live_search_input_min_chars" value="{{ module_ps_live_search_input_min_chars }}" placeholder="{{ entry_input_min_chars }}" id="input-input-min-chars" class="form-control">
									{% if error_input_min_chars %}<div class="text-danger">{{ error_input_min_chars }}</div>{% endif %}
									<div class="help-block text-muted">{{ help_input_min_chars }}</div>
                </div>
              </div>

            </div>
						<div class="tab-pane" id="tab-products">

							<div class="form-group">
								<label for="input-product-status" class="col-sm-2 control-label">{{ entry_product_status }}</label>
								<div class="col-sm-10">
									<select name="module_ps_live_search_product_status" id="input-product-status" class="form-control">
										{% if module_ps_live_search_product_status %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="input-product-description" class="col-sm-2 control-label">{{ entry_product_description }}</label>
								<div class="col-sm-10">
									<select name="module_ps_live_search_product_description" id="input-product-description" class="form-control">
										{% if module_ps_live_search_product_description %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

							<div class="form-group required">
                <label for="input-product-description-length" class="col-sm-2 control-label">{{ entry_product_description_length }}</label>
                <div class="col-sm-10">
                  <input type="text" name="module_ps_live_search_product_description_length" value="{{ module_ps_live_search_product_description_length }}" placeholder="{{ entry_product_description_length }}" id="input-product-description-length" class="form-control">
									{% if error_product_description_length %}<div class="text-danger">{{ error_product_description_length }}</div>{% endif %}
									<div class="help-block text-muted">{{ help_product_description_length }}</div>
                </div>
              </div>

							<div class="form-group">
								<label for="input-product-image" class="col-sm-2 control-label">{{ entry_product_image }}</label>
								<div class="col-sm-10">
									<select name="module_ps_live_search_product_image" id="input-product-image" class="form-control">
										{% if module_ps_live_search_product_image %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

							<div class="form-group required">
								<label for="input-product-image-width" class="col-sm-2 control-label">{{ entry_product_image_size }}</label>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-6">
											<input type="text" name="module_ps_live_search_product_image_width" value="{{ module_ps_live_search_product_image_width }}" placeholder="{{ entry_width }}" id="input-product-image-width" class="form-control">
											{% if error_product_image_width %}<div class="text-danger">{{ error_product_image_width }}</div>{% endif %}
										</div>
										<div class="col-sm-6">
											<input type="text" name="module_ps_live_search_product_image_height" value="{{ module_ps_live_search_product_image_height }}" placeholder="{{ entry_height }}" id="input-product-image-height" class="form-control">
											{% if error_product_image_height %}<div class="text-danger">{{ error_product_image_height }}</div>{% endif %}
										</div>
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="input-product-price" class="col-sm-2 control-label">{{ entry_product_price }}</label>
								<div class="col-sm-10">
									<select name="module_ps_live_search_product_price" id="input-product-price" class="form-control">
										{% if module_ps_live_search_product_price %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

						</div>
						<div class="tab-pane" id="tab-categories">

							<div class="form-group">
								<label for="input-category-status" class="col-sm-2 control-label">{{ entry_category_status }}</label>
								<div class="col-sm-10">
									<select name="module_ps_live_search_category_status" id="input-category-status" class="form-control">
										{% if module_ps_live_search_category_status %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="input-category-image" class="col-sm-2 control-label">{{ entry_category_image }}</label>
								<div class="col-sm-10">
									<select name="module_ps_live_search_category_image" id="input-category-image" class="form-control">
										{% if module_ps_live_search_category_image %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

							<div class="form-group required">
								<label for="input-category-image-width" class="col-sm-2 control-label">{{ entry_category_image_size }}</label>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-6">
											<input type="text" name="module_ps_live_search_category_image_width" value="{{ module_ps_live_search_category_image_width }}" placeholder="{{ entry_width }}" id="input-category-image-width" class="form-control">
											{% if error_category_image_width %}<div class="text-danger">{{ error_category_image_width }}</div>{% endif %}
										</div>
										<div class="col-sm-6">
											<input type="text" name="module_ps_live_search_category_image_height" value="{{ module_ps_live_search_category_image_height }}" placeholder="{{ entry_height }}" id="input-category-image-height" class="form-control">
											{% if error_category_image_height %}<div class="text-danger">{{ error_category_image_height }}</div>{% endif %}
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="tab-pane" id="tab-manufacturers">

							<div class="form-group">
								<label for="input-manufacturer-status" class="col-sm-2 control-label">{{ entry_manufacturer_status }}</label>
								<div class="col-sm-10">
									<select name="module_ps_live_search_manufacturer_status" id="input-manufacturer-status" class="form-control">
										{% if module_ps_live_search_manufacturer_status %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

							<div class="form-group">
								<label for="input-manufacturer-image" class="col-sm-2 control-label">{{ entry_manufacturer_image }}</label>
								<div class="col-sm-10">
									<select name="module_ps_live_search_manufacturer_image" id="input-manufacturer-image" class="form-control">
										{% if module_ps_live_search_manufacturer_image %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

							<div class="form-group required">
								<label for="input-manufacturer-image-width" class="col-sm-2 control-label">{{ entry_manufacturer_image_size }}</label>
								<div class="col-sm-10">
									<div class="row">
										<div class="col-sm-6">
											<input type="text" name="module_ps_live_search_manufacturer_image_width" value="{{ module_ps_live_search_manufacturer_image_width }}" placeholder="{{ entry_width }}" id="input-manufacturer-image-width" class="form-control">
											{% if error_manufacturer_image_width %}<div class="text-danger">{{ error_manufacturer_image_width }}</div>{% endif %}
										</div>
										<div class="col-sm-6">
											<input type="text" name="module_ps_live_search_manufacturer_image_height" value="{{ module_ps_live_search_manufacturer_image_height }}" placeholder="{{ entry_height }}" id="input-manufacturer-image-height" class="form-control">
											{% if error_manufacturer_image_height %}<div class="text-danger">{{ error_manufacturer_image_height }}</div>{% endif %}
										</div>
									</div>
								</div>
							</div>

						</div>
						<div class="tab-pane" id="tab-informations">

							<div class="form-group">
								<label for="input-information-status" class="col-sm-2 control-label">{{ entry_information_status }}</label>
								<div class="col-sm-10">
									<select name="module_ps_live_search_information_status" id="input-information-status" class="form-control">
										{% if module_ps_live_search_information_status %}
										<option value="1" selected="selected">{{ text_enabled }}</option>
										<option value="0">{{ text_disabled }}</option>
										{% else %}
										<option value="1">{{ text_enabled }}</option>
										<option value="0" selected="selected">{{ text_disabled }}</option>
										{% endif %}
									</select>
								</div>
							</div>

						</div>
						<div class="tab-pane" id="tab-support">

							<h3>{{ heading_getting_started }}</h3>
							{{ text_getting_started }}
							<hr>
							<h3>{{ heading_setup }}</h3>
							{{ text_setup }}
							<hr>
							<h3>{{ heading_troubleshot }}</h3>
							{{ text_troubleshot }}
							<hr>
							<h3>{{ heading_faq }}</h3>
							{{ text_faq }}
							<hr>
							<h3>{{ heading_contact }}</h3>
							{{ text_contact }}

            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
